<div class="show_page">
	<h2><%= @bill.title%></h2>
	Description: <%= @bill.description%><br>
	Amount: <%=@bill.cost%><br>

	Bill creator: <%=@bill.creator.name %>
	<% @bill.debtors %>

	<%= link_to "Edit bill", edit_bill_path(@bill) %>
	<h3>People paying this bill</h3>

</div>




	<div id="new-comment-form">
		<%= render :partial => "partials/comment" %>
	</div>

</div>