<div class="show_page">
	<h2><%= @bill.title%></h2>
	Description: <%= @bill.description%><br>
	Amount: <%=@bill.cost%><br>

	Bill creator: <%=@bill.creator.name %>
	

	<h3>People assigned to pay this bill</h3>
		<table class = "iou_table">
			<tr>
				<th>Name</th>
				<th>Amount Owed</th>
				<th>Paid?</th>
			</tr>

			<tr>
				<% @bill.debtors.each do |person| %>
				<td><%= person.name %></td>
				<td><%= @bill.get_iou(person.id) %></td>
				<td><input type="checkbox" /></td>
			</tr>
	   <% end %>
		</table>

		<h3><%= link_to "All debts repaid!" %></h3>
</div>


	<div id="new-comment-form">
		<%= render :partial => "partials/comment" %>
	</div>

</div>