<!DOCTYPE html>
<html>
<head>
  <title>RoomEez</title>

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    'normalize', media: 'all'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<header>
		<h1><%= link_to "Room-Eez", root_path %></h1>
		<ul>
			<% if session[:user_id] %>
				<li><%= link_to "Dashboard", user_path(session[:user_id]) %></li>
				<li><%= link_to "Log Out", user_logout_path, method: 'delete' %>
				</li>
			<% else %>
				<li><%= link_to "Sign up", new_user_path %></li>
				<li><%= link_to "Log In", user_login_path %></li>
			<% end %>
	</header>
	<%= yield %>
	</div>
</body>
</html>
